.layout-admin {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .admin-header {
        height: 50px;
        border-bottom: 1px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        background-color: #c41e3a;
    }

    .ant-layout-content {
        padding: 15px;
        flex: 1;
        overflow: hidden;
        /* Ẩn cuộn không cần thiết */
        display: flex;
        flex-direction: column;

        .content-scrollable {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            /* Bật cuộn cho toàn bộ vùng content */
            max-height: calc(100vh - 50px - 50px - 30px);
            /* Tính toán chiều cao tối đa của nội dung (100vh trừ header và khoảng trống) */

            .ant-table-wrapper {
                flex: 1;
                overflow: auto;
                /* Cho phép cuộn trong bảng nếu cần */
                padding-bottom: 10px;
                /* Để khoảng trống tránh việc pagination bị che */
            }

            .ant-pagination {
                padding: 10px 0;
                background-color: #f0f0f0;
                border-top: 1px solid #ebebeb;
            }
        }
    }

    footer {
        height: 50px;
        /* Đặt chiều cao cho footer */
        text-align: center;
        padding: 10px 0;
        background-color: #f0f0f0;
    }
}